.bar-section {
  width: 100%;
  padding: 70px 8%;
  background: url("/bar.jpeg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  width: 100%;
  max-width: 1400px;
}
.stats-box {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 16px;
  padding: 25px 20px;
  text-align: center;
  border: 1px solid rgba(249, 248, 248, 0.4);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.18);
  transition: 0.3s ease;
}

.stats-box:hover {
  background: rgba(255, 255, 255, 0.95);
  transform: translateY(-5px);
}

.stats-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 12px;
}

.stats-box h3 {
  font-size: 28px;
  font-weight: 700;
  color: #0b2a4a;
  margin: 6px 0;
}

.stats-box p {
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin-top: 5px;
}

@media (max-width: 992px) {
  .stats-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }

  .bar-section {
    padding: 60px 6%;
  }
}

@media (max-width: 600px) {
  .stats-grid {
    grid-template-columns: 1fr;
  }

  .stats-box {
    padding: 22px 18px;
  }

  .stats-box h3 {
    font-size: 24px;
  }

  .stats-icon {
    width: 45px;
    height: 45px;
  }
}