.bar-section {
  width: 100%;
  background: #0b1a33; /* dark blue */
  background-image: url(bar.jpeg);
  background-size: cover;
  background-position: center;
  padding: 70px 0;
}

.bar-overlay {
  /* background: rgba(0, 0, 0, 0.3);  */
  padding: 40px 0;
}

.bar-grid {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 20px;
}

.bar-box h2 {
  color: #ffffff;
  font-size: 42px;
  margin-bottom: 5px;
  font-weight: 800;
}

.bar-box p {
  color: #bfc8d6;
  font-size: 16px;
  margin-top: 0;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .bar-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media (max-width: 600px) {
  .bar-grid {
    grid-template-columns: 1fr;
    gap: 25px;
  }
}