.BG {
    position: relative;
    width: 100%;
    height: 750px;
    background-image: url('/doctor.avif');
    /* from public */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* DARK OVERLAY */
.BG-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: brightness(0.8);
}

/* TEXT CONTAINER */
.BG-content {
    position: absolute;
    top: 28%;
    left: 10%;
    color: rgb(238, 236, 239);
    width: 550px;
    max-width: 600px;

    /* Animation settings */
    opacity: 0;
    transform: translateX(-50px);
    animation: textSlide 1.2s ease-out forwards;
}

@keyframes textSlide {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


/* SMALL TAG */
.BG-tag {
    background: rgba(255, 255, 255, 0.20);
    border: 1px solid rgba(255, 255, 255, 0.6);
    padding: 10px 24px;
    border-radius: 12px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.5px;
    backdrop-filter: blur(3px);
}

/* TITLE */
.BG-content h1 {
    margin-top: 20px;
    font-size: 44px;
    font-weight: 700;
    line-height: 1.3;
    text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.6);
}

/* DESCRIPTION */
.BG-content p {
    margin-top: 20px;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.9);
    max-width: 500px;
}

/* BUTTON WRAPPER */
.BG-buttons {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

/* COMMON BUTTONS */
.btn-1,
.btn-2 {
    padding: 14px 35px;
    border-radius: 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
}

/* WHITE BUTTON */
.btn-1 {
    background: rgb(238, 236, 239);
    color: #333;
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.2);
}

.btn-1:hover {
    background: #e6e6e6;
}

/* BLUE BUTTON */
.btn-2 {
    background: #49a0b4;
    color: rgb(243, 245, 246);
    box-shadow: 0 5px 20px rgba(109, 213, 237, 0.4);
}

.btn-2:hover {
    background: #54c3df;
}