.department-section {
  text-align: center;
  padding: 50px 10%;
}

.department-section h3 {
  font-size: 32px;
  font-weight: 700;
  color: #3ac7c9;
  margin-bottom: 40px;
}

.dept-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  justify-content: center;
}

.dept-card {
  background: #ffffff;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  gap: 18px;
  cursor: pointer;
  transition: 0.3s ease;
}

.dept-card:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
}

.dept-content {
  display: flex;
  align-items: center;
  gap: 18px;
}

.dept-icon {
  height: 55px;
  width: 55px;
}

.dept-title {
  font-size: 18px;
  font-weight: 600;
  color: #0d2a52;
}

.appoint-btn {
  margin-top: 40px;
  background: #3cbecf;
  border: none;
  padding: 12px 35px;
  color: white;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease;
}

.appoint-btn:hover {
  opacity: 0.9;
  transform: translateY(-2px);
}


@media (max-width: 900px) {
  .dept-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .dept-card {
    padding: 20px;
  }

  .dept-icon {
    height: 50px;
    width: 50px;
  }

  .dept-title {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .department-section {
    padding: 40px 8%;
  }

  .dept-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .dept-card {
    justify-content: center;
    padding: 18px;
    text-align: center;
    flex-direction: column; 
  }

  .dept-content {
    flex-direction: column;
    gap: 10px;
  }

  .dept-icon {
    height: 60px;
    width: 60px;
  }

  .dept-title {
    font-size: 17px;
  }

  .appoint-btn {
    font-size: 15px;
    padding: 12px 30px;
  }
}