.footer {
  background: #2b2b32;
  color: #fff;
  padding: 60px 10%;
  font-family: "Inter", sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.footer-logo {
  font-size: 28px;
  font-weight: 700;
  color: #49c5b6;
}

.footer-logo img{
    height: 30px;
}

.footer-section p,
.footer-section li {
  margin-top: 10px;
  opacity: 0.8;
  font-size: 15px;
}

.footer-section h3 {
  margin-bottom: 15px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 8px 0;
  cursor: pointer;
}

.footer-socials {
  margin-top: 20px;
  display: flex;
  gap: 12px;
}

.footer-socials svg {
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-socials svg:hover {
  color: #49c5b6;
}

.icon {
  margin-right: 8px;
}

.footer-bottom {
  margin-top: 40px;
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid rgba(31, 30, 30, 0.2);
  opacity: 0.7;
  font-size: 14px;
}