.members-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  padding: 20px;
}

.member-card {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 20px;
  padding: 25px;
  background: #fff;
  border-radius: 12px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);

  max-width: 650px;
  width: 100%;
  margin: 0 auto;
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.member-img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  margin-bottom: 10px;
}

.member-name {
  font-size: 20px;
  font-weight: 600;
  margin: 5px 0 2px;
  color: #2976a3;
}

.role {
  font-size: 14px;
  margin-bottom: 10px;
}

.right-section {
  display: flex;
  align-items: top;
}

.desc {
  font-size: 15px;
  color: #555;
  line-height: 22px;
}

@media (max-width: 900px) {
  .members-container {
    grid-template-columns: 1fr;
  }

  .member-card {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .right-section {
    margin-top: 10px;
  }
}