* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header-navbar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  background: rgb(238, 236, 239);
  box-sizing: border-box;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  margin: 0; 
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-name {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.nav-name span {
  color: #3c6e71;
}

.nav-content ul {
  display: flex;
  gap: 35px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-content ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  transition: 0.3s ease;
}

.nav-content ul li a:hover {
  color: #3c6e71;
}

.nav-content i {
  margin-left: 5px;
  font-size: 12px;
}


.nav-btn {
  padding: 10px 25px;
  background: #49a0b4;
  color: rgb(255, 255, 255);
  border-radius: 30px;
  border: none;
}