.topbar {
  width: 100%;
  height: 55px;
  background: #49a0b4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 86px;
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.top-left span {
  margin-right: 40px;
}

.top-right i {
  margin-left: 30px;
  cursor: pointer;
}