.choose-section {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 80px 50px;
    max-width: 1300px;
    margin: auto;
}

.choose-left {
    flex: 1;
}

.choose-subtitle {
    color: #3ac7c9;
    font-weight: 600;
    margin-bottom: 10px;
}

.choose-title {
    font-size: 34px;
    font-weight: 800;
    color: #0b2b4a;
    margin-bottom: 20px;
    line-height: 1.3;
}

.choose-title span {
    color: #3ac7c9;
}

.choose-desc {
    color: #555;
    margin-bottom: 30px;
    font-size: 16px;
    max-width: 550px;
    line-height: 1.6;
}

/* FEATURES GRID */
.choose-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    max-width: 500px;
}

.choose-box {
    padding: 12px 18px;
    border-radius: 10px;
    background: #f7f9fa;
    border: 1px solid #e6e7eb;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    color: #0b2b4a;
    font-size: 15px;

    transition: all 0.25s ease;
}

.choose-box:hover {
    transform: translateY(-6px);
    /* lift */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    /* soft glow */
    border-color: #3ac7c9;
}

.tick-icon {
    color: #3ac7c9;
    font-size: 18px;
}

/* RIGHT SIDE IMAGE */
.choose-right {
    flex: 1;
    margin-top: 40px;
}

.choose-image {
    width: 90%;
    height: 350px;
    border-radius: 5px;
    object-fit: cover;

}

/* RESPONSIVE */
@media (max-width: 900px) {
    .choose-section {
        flex-direction: column;
        text-align: center;
        padding: 50px 20px;
    }

    .choose-grid {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        max-width: 520px;
    }
}